$house-primary: #000A65;
$stonework-primary: #B03E0E;
$stonework-secondary: #FFCBB5;
$mine-primary: #1A91FF;
$furnace-primary: #FF881A;
$furnace-secondary: #FFD0A5;
$anvil-primary: #260037;
$anvil-secondary: #E0C8FF;
$chest-primary: #441D00;
$chest-secondary: #D3B8A5;