@import './styles/variables';
@import './styles/colors';

.build-ui {
  font-size: 24px;
  width: 100vw;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  z-index: $z-index-ui;

  button {
    margin: 16px;
    height: 64px;
    width: 64px;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }

    &:active {
      opacity: 1;
    }

    &:focus {
      outline: none; // bad accessibility
    }
  }

  svg {
    height: 64px;
    width: 64px;
  }
}

.building,
.unit,
.item {
  position: absolute;
}

.building,
.unit {
  svg {
    height: 64px;
    width: 64px;
  }
}

.item {
  svg {
    height: 32px;
    width: 32px;
  }
}

.building {
  z-index: $z-index-buildings;
}

.road_n, .road_s, .road_e, .road_w {
  z-index: $z-index-roads;
}

.cooldown {
  opacity: .5;
}

.unit {
  z-index: $z-index-units;
}

.ghost {
  opacity: .5;
  z-index: $z-index-buildings;
}

.unit {
  transition-property: left, top;
  transition-timing-function: linear;
  transition-duration: 1s;
}

.item {
  padding: 16px;
}

.food-bar {
  $food-bar-width: 4px;
  $food-bar-height: 36px;
  position: absolute;
  height: $food-bar-height;
  width: $food-bar-width;
  right: -$food-bar-width;
  top: (64px - $food-bar-height) / 2;
  border: 1px solid black;
  flex-direction: column;
  justify-content: flex-end;
  display: none;

  &-fill {
    width: 100%;
    background-color: black;
  }
}

.health-bar {
  $health-bar-width: 36px;
  $health-bar-height: 6px;
  position: absolute;
  width: $health-bar-width;
  height: $health-bar-height;
  right: (64px - $health-bar-width) / 2;
  top: -$health-bar-height - 8px;
  border: 1px solid black;
  flex-direction: column;
  justify-content: flex-end;

  &-fill {
    height: 100%;
    background-color: green;
  }
}

.held-item {
  position: absolute;

  // Held above head:
  right: 16px;
  top: -32px;

  // Held in "hand":
  // right: 0px;
  // top: 16px;

  svg {
    width: 32px;
    height: 32px;
  }
}

.unit:hover {
  .food-bar {
    display: flex;
  }
}

.connector {
  $connector-line-height: 41px;

  position: absolute;
  top: -$connector-line-height;
  display: flex;
  flex-direction: row;
  width: 64px;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;
  cursor: pointer;
  border: none;
  background: none;

  .connector-line {
    width: 18px;
    height: $connector-line-height;
  }

  .connector-arrow {
    width: 19px;
    height: 19px;
    margin-bottom: 5px;
  }

  &.in {
    .connector-arrow {
      transform: rotate(180deg);
    }
  }

  &.east {
    transform: rotate(90deg);
    top: 10px;
    right: -($connector-line-height + 11px);
  }

  &.west {
    transform: rotate(-90deg);
    top: 10px;
    left: -($connector-line-height + 11px);
    right: auto;
  }

  &.south {
    transform: rotate(180deg);
    bottom: -37px;
    top: auto;
  }

  &.in, &.out {
    visibility: visible;
    opacity: 1;
  }

  &:hover:not(.in):not(.out) {
    opacity: .2;
  }

  &:focus {
    outline: none;
  }
}

.stonework-table .connector path {
  fill: $stonework-primary;
}

.chest .connector path {
  fill: $chest-primary;
}

.furnace .connector path {
  fill: $furnace-primary;
}

.anvil .connector path {
  fill: $anvil-primary;
}