$z-index-buildings: 1;
$z-index-units: 2;
$z-index-ui: 3;

.build-ui {
  font-size: 24px;
  width: 100vw;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  z-index: $z-index-ui;

  button {
    border: 0;
    background: none;
    margin: 16px;
    padding: 0;
    height: 64px;
    width: 64px;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }

    &:active {
      opacity: 1;
    }

    &:focus {
      outline: none; // bad accessibility
    }
  }

  svg {
    height: 64px;
    width: 64px;
  }
}

.building,
.unit,
.item {
  position: absolute;
}

.building,
.unit {
  svg {
    height: 64px;
    width: 64px;
  }
}

.item {
  svg {
    height: 32px;
    width: 32px;
  }
}

.building {
  z-index: $z-index-buildings;
}

.cooldown {
  opacity: .5;
}

.unit {
  z-index: $z-index-units;
}

.ghost {
  opacity: .5;
  z-index: $z-index-buildings;
}

.unit {
  transition-property: left, top;
  transition-timing-function: linear;
  transition-duration: 1s;
}

.item {
  padding: 16px;
}

.food-bar {
  $food-bar-width: 4px;
  $food-bar-height: 36px;
  position: absolute;
  height: $food-bar-height;
  width: $food-bar-width;
  right: -$food-bar-width;
  top: (64px - $food-bar-height) / 2;
  border: 1px solid black;
  flex-direction: column;
  justify-content: flex-end;
  display: none;

  &-fill {
    width: 100%;
    background-color: black;
    // transition-property: height;
    // transition-timing-function: linear;
    // transition-duration: 1s;
  }
}

.held-item {
  position: absolute;

  // Held above head:
  right: 16px;
  top: -32px;

  // Held in "hand":
  // right: 0px;
  // top: 16px;

  svg {
    width: 32px;
    height: 32px;
  }
}

.unit:hover {
  .food-bar {
    display: flex;
  }
}